.dashboard-container{
    width: 100%;
    height: 100vh;
    background-color: royalblue;
    display:flex;
    background-size:100vw 60vh;
    background-repeat:no-repeat ;
}

.dashboard-container .content{
    padding: 30px 50px;
}
.dashboard-container .content h2{
    color: #fff;
}
.dashboard-container .content .container{
 margin-top: 30px;
 padding: 30px;
 background-color: #fff;
 border-radius: 15px;
 box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.726);
 width: 55vw;
 height: 65vh;
}
